* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e9f5fb; 
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #005f73; 
    color: white;
    padding: 1rem 5%; 
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    gap: 2rem; 
    margin-bottom: 1rem; 
}

header h1 {
    font-size: 2.5rem; 
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem; 
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #e9f5fb; 
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #94d2bd; 
}

.section {
    padding: 4rem 10%;
    text-align: center;
}

#about {
    background-color: #b2f0e8; 
    margin-bottom: 0; 
    padding: 2rem 5%; 
    display: flex; 
    align-items: flex-start; 
    justify-content: center;
    gap: 4rem; 
}

.profile-photo {
    border-radius: 10%; 
    width: 300px; 
    height: 300px; 
    border: 5px solid #005f73; 
    object-fit: cover; 
    margin-top: 85px; 
}

.about-text {
    max-width: 600px;
    text-align: left; 
}

.about-text h2 {
    font-size: 2.2rem; 
    margin-bottom: 0.5rem; 
    color: #004d4d;
    text-align: center;
}

.about-text p {
    font-size: 1rem; 
    margin-bottom: 1rem; 
    color: #1f833d; 
    line-height: 1.6; 
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #004d4d; 
}

.section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #555;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0.75rem 2rem;
    background-color: #005f73; 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #003d3d; 
}

/* Project Page Structure */
#projects {
    background-color: #ffebcc; 
    padding: 4rem 10%;
}

.project-page {
    text-align: center; 
}

.project-page h1 {
    font-size: 3rem;
    margin-bottom: 2rem; 
    color: #005f73;
}

#projects .project img {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px; 
}

.project-list {
    display: flex; 
    justify-content: space-around; 
    margin-top: 2rem; 
}

.project {
    text-align: center; 
}

.project p {
    margin-top: 0.5rem; 
    font-size: 1.1rem; 
    color: #333; 
}

.project p:hover {
    text-decoration: underline; 
}

.project-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.project-button:hover {
    background-color: #0056b3; 
}


/* Project Gallery Section */
.gallery-section {
    background-color: #b2f0e8; 
    padding: 4rem 10%; 
}

.gallery {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap; 
}

.gallery figure {
    flex: 1; 
    margin: 1rem; 
    text-align: center; 
}

.gallery img {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    border-radius: 5px; 
}

/* Légende */
figcaption {
    font-size: 1rem; 
    color: #004d4d; 
    margin-top: 0.5rem; 
}

/* Project Overview Section */
#project-details {
    background-color: #ffebcc; 
    padding: 4rem 10%; 
    color: #333; 
    text-align: center; 
}

#project-details h2 {
    color: #004d4d; 
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
}

#project-details p {
    font-size: 1.2rem; 
    color: #555; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}

#project-details ol {
    padding-left: 0; 
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    color: #8f133c; 
    font-size: 1rem; 
}

#project-details ol li {
    margin-bottom: 0.5rem; 
    padding-left: -100px; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .project-list {
        flex-direction: column;
        align-items: center;
    }

    .project {
        flex: 1 1 100%;
        margin-bottom: 2rem;
    }

    nav ul {
        flex-direction: column; 
    }

    nav ul li {
        margin: 0.5rem 0; 
    }

    #about {
        flex-direction: column; 
    }

    .profile-photo {
        margin-bottom: 2rem; 
    }
}
